<%= form_for([@food_item, @food_item.comments.build]) do |f| %>
	<div class="form-group row">
		<label class="col-md-2 col-sm-2 col-xs-2 col-form-label">Name:</label>
	    <div class="col-md-7">
	    	<%= f.text_field :name, class:'form-control', placeholder:'Type your name', type:'text' %>	    	
	    </div>
  	</div>
  	<div class="form-group row">
  		<label class="col-md-2 col-sm-2 col-xs-2 col-form-label">Comments:</label>
  		<div class="col-md-10">
  			<%= f.text_area :body, class:'form-control', placeholder:'What do you think about the article?', type:'text' %>	
  		</div>
	    
  	</div>

  	<div class="form-group row">
  		<label class="col-md-2 col-sm-2 col-xs-2 col-form-label">Review:</label>
  		<div class="col-md-2 col-sm-2 col-xs-2">
	    	<%= f.number_field :star, class:'form-control', min: 1, max: 5, value: 1 %>
	    </div>
  	</div>

	<%= submit_tag("Post comment", :class=>"btn btn-primary") %>

<% end %>