<div class="jumbotron">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<%= form_tag menu_path, method: 'get', remote: true, :class => 'form-inline' do %>
				  <%= select_tag "sort", options_for_select([ ["Sort", 0], ["Alphabetical", 1], ["Price low to high", 2], ["Price high to low", 3], ["Most viewed", 4]], @sort), class: 'form-control' %>
				  <%= hidden_field_tag 'current_tab', "\##{@sections.first.name}" %>
					<%= submit_tag("Apply", :class=>"btn btn-primary") %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<ul class="nav nav-tabs" role="tablist">
				<% @sections.each do |section| %>
					<li class="nav-item">
						<a class="nav-link <%= 'active' if section == @sections.find_by_name!(@current_tab) %>" data-toggle="tab" href="#<%= section.name %>" role="tab"><%= section.name %></a>
					</li>
				<% end %>
			</ul>
		</div>	
	</div>


	<!-- Tab panes -->
	<div class="tab-content section-content">
		<%= render 'home/show_tab'%>
	</div>

</div>